<h1>Create a new todo</h1>


<form action="/pirates" method="POST">
  <div>
    <label for="description">name:</label>
    <input type="text" name="description">
  </div>
  {{!-- <div>
    <label for="urgent">urgent:</label>
    <span>yes</span><input type="radio" name="urgent" value="true" checked>
    <span>no</span><input type="radio" name="urgent" value="false">
  </div>
  <div> --}}
    <input type="submit" value="Add a New Todo">
  </div>
</form>